# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Virtualenv
venv/
.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Coverage / testing
.coverage
htmlcov/
.tox/
.pytest_cache/
